{{!-- {{#if user}}
<p>Hello, {{user.username}}</p>

{{/if}} --}}


{{#each theCelebrity}}

<div>
    <a href="/celebrities/{{this._id}}">

        <h3>
            {{this.name}}
        </h3>
    </a>

    <h5>Occupation: {{this.occupation}}</h5>
    <p>Catchphrase: {{this.catchPhrase}}</p>
    {{!-- <a href="/books/edit/{{this._id}}">Edit This Book</a> --}}

    <form action="/celebrities/delete/{{this._id}}" method="POST">
    <button>Delete</button>
    </form>
    
</div>




<hr>

{{/each}}